html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}
.nav-link{
  text-decoration: none;
  color: white;
}
.nav-link:hover{
  color: red;
}
.logo{
  position: relative;
  width:100px;
  height: 100px;
  background-image: url("../imgs/bg-1.jpg"); 
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: insert 0 0 100px rgba(0, 0, 0, .8), 0 20px 100px rgba(0, 0, 0, .8);
}
.bike-1{
  width: 50px;
  height: 50px;
}
.bike{
  position: relative;
  top: 30px;
  animation: animate-bike 1s linear infinite;
}
@keyframes animate-bike{
    from{
      left: -10px;
    }
    to{
      left: 65px;
    }
  }
  .producto-img{
    filter: grayscale(100%);
    transition: all 0.3s;
  }
  .producto-img:hover{
    filter: grayscale(0%);
  }
  h1{
    font-weight: 500;
    color: #fff;
    font-size: 25px;
  }
/*Configuración para moviles */
nav {
  grid-area: nav;
  background: #048065;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
nav ul {
  display: none;
  list-style: none;
}
/* Sección principal de productos */
main {
  grid-area: main;
}
.sale, .nuevas{
  font-weight: 500;
  color: red;
}
.fa-brands{
  color: black;
}
.producto-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  overflow-y: scroll;
}
.producto-item {
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 5px;
  border: solid 2px #e1e2e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.box-and-shadow {
  box-sizing: border-box;
  box-shadow: 0px 4px 11px -3px rgba(39, 39, 39, 0.84);
  -webkit-box-shadow: 1px 4px 11px -3px rgba(39, 39, 39, 0.84);
  -moz-box-shadow: 1px 4px 11px -3px rgba(39, 39, 39, 0.84);
}
.producto-img {
  width: 100%;
}
.producto-item button {
  display: inline-block;
  background-color: #b1b4b6;
  height: 32px;
  width: 80%;
  padding-bottom: 5px;
  color: #070707;
  border: solid 1px #020202;
  border-radius: 5px;
}
/* pie de página */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  color: #000000;
  text-align: center;
  background-color: #b1b4b6;
}
.logos-redes {
  padding-top: 5px;
}
/* Configuración para Table */
@media screen and (min-width: 576px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: auto 10fr auto;
    grid-template-areas:
      "nav nav"
      "main main"
      "footer footer";
  }
}
/* Configuración para escritorio*/
@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 15% 85%;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
      "nav main "
      "nav main "
      "footer footer";
  }
}
/* Distribución de elementos para la configuración de table */
@media screen and (min-width: 576px) {
  .producto-grid {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
  }
  .burger-icon {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: white;
  }
  nav ul li {
    justify-content: center;
  }
  .producto-item {
    margin: 1rem;
  }
} 
/* Distribución de elementos para la configuración de escritorio */
@media screen and (min-width: 992px) {
  .producto-grid {
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(4, 1fr);
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
  }
  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding-inline-start: 0;
  }
  nav ul li {
    display: list-item;
    margin-top: 10px;
  }
}  